@model IEnumerable<DeviceManager.Models.RoomViewModel>

@{
    ViewData["Title"] = "Index";
}
@section styles{
    <link href="@Url.Content("~/css/editItem.css")" rel="stylesheet" type="text/css" />
}
<h1>Index</h1>


<p>
    <a asp-action="Create"><i class="fas fa-plus-circle icon-edit icon-color-blue"></i></a>
</p>
<table class="table" style="margin-bottom: 50px;">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Edit
            </th>
            <th>
                Detail
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomName)
                </td>

                @if (item.Status == "Active")
                {
                    <td style="color: forestgreen; font-weight: 600;">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit icon-edit icon-color-green"></i></a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle icon-edit icon-color-yellow"></i></a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash icon-edit icon-color-red"></i></a>
                </td>
            </tr>

        }
    </tbody>
</table>

