@model DeviceManager.Models.Cart.CartList

@{
    Layout = "/Views/Shared/_UserLayout.cshtml";
}


<div class="section padding_layout_1 Shopping_cart_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                @if (Model != null && Model.Carts != null)
                {
                    <div class="product-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product Name</th>
                                    <th>Quantity</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Total</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Carts)
                                {

                                    <tr>
                                        <td class="col-sm-8 col-md-6">
                                            <div class="media">
                                                <a class="thumbnail pull-left"  asp-controller="Items" asp-action="DetailUser" asp-route-productName="@item.Item.ProductName"> <img class="media-object" src="~/image/@item.Item.Image" alt="#"></a>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a  asp-controller="Items" asp-action="DetailUser" asp-route-productName="@item.Item.ProductName">@item.Item.ProductName</a></h4>
                                                    <span>Status: </span><span class="text-success">In Stock</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-sm-1 col-md-1 text-center"><p class="price_table">@item.Quantity</p></td>
                                        <td class="col-sm-1 col-md-1 text-center"><p class="price_table">$@item.Item.DiscountPrice</p></td>
                                        <td class="col-sm-1 col-md-1 text-center">
                                            @{
                                                var total = Math.Round(item.Quantity * item.Item.DiscountPrice, 2);
                                            }
                                            <p class="price_table">
                                                $@total
                                            </p>
                                        </td>
                                        <td class="col-sm-1 col-md-1">
                                            <form asp-action="Delete" method="post">
                                                <input type="hidden" name="ProductName" value="@item.Item.ProductName" />
                                                <button type="submit" class="bt_main"><i class="fa fa-trash"></i> Remove</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <table class="table">
                            <tbody>
                                <tr class="cart-form">
                                    <td class="actions">
                                        <input class="button" name="update_cart" value="Update cart" disabled="" type="submit">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="shopping-cart-cart">
                        <table>
                            <tbody>

                                <tr class="head-table">
                                    <td><h5>Cart Totals</h5></td>
                                    <td class="text-right"></td>
                                </tr>
                                <tr>
                                    <td><h4>Subtotal</h4></td>
                                    <td class="text-right"><h4>$@Model.TotalPrice</h4></td>
                                </tr>
                                <tr>
                                    <td><h5>Estimated shipping</h5></td>
                                    <td class="text-right"><h4>$@Model.EstimatedShipping</h4></td>
                                </tr>
                                <tr>
                                    <td><h3>Total</h3></td>
                                    <td class="text-right"><h4>$@Model.TotalWShipFee</h4></td>
                                </tr>
                                <tr>
                                    <td><a asp-action="Index" asp-controller="CustomerIndex" class="button">Continue Shopping</a></td>
                                    <td><a class="button" asp-controller="Cart" asp-action="Checkout">Checkout</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
            <div style="text-align: center;">
                <h1 style="color: red; text-transform: uppercase; font-weight: 600;">@ViewBag.STATUS</h1>
                <h1 style="text-transform: uppercase;">@ViewBag.ERRORMESSAGE</h1>
            </div>
                    
                }
            </div>
        </div>
    </div>
</div>
