@model IEnumerable<DeviceManager.Models.ItemViewModel>

@{
    ViewData["Title"] = "Index";
}
@section styles{
    <link href="@Url.Content("~/css/editItem.css")" rel="stylesheet" type="text/css" />
}
<h1 class="top">Item Page</h1>

<p>
    <a asp-action="Create"><i class="fas fa-plus-circle icon-edit icon-color-blue"></i></a>
</p>
<table class="table" style="margin-bottom: 50px;">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintainDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintainTimes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.RoomName)
            </th>
            <th>
                Edit
            </th>
            <th>
                Detail
            </th>
            <th>
                Delete
            </th>
            <th>
                AddCart
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintainDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintainTimes)
            </td>
            @if (item.Status == "Active")
            {
                <td style="color: forestgreen; font-weight: 600;">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit icon-edit icon-color-green"></i></a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle icon-edit icon-color-yellow"></i></a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash icon-edit icon-color-red"></i></a>
            </td>
            <td>
                <form asp-action="AddToCart" asp-controller="Cart">
                    <input type="hidden" name="ProductName" value="@item.ProductName" />
                    <input type="hidden" name="returnUrl" value="@Url.Action("index","Items")" />
                    <input type="submit" value="AddToCart" class="btn btn-success" />
                </form>
            </td>
        </tr>

        }
    </tbody>
</table>
