@model DeviceManager.Models.Pagination<DeviceManager.Models.Item.CusItemVM>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<DeviceManager.Data.Entities.User> SignInManager
@inject UserManager<DeviceManager.Data.Entities.User> UserManager

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_center">
                        <h2>Our Products</h2>
                        <p class="large">We package the products with best services to make you a happy customer.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;"><p class="text-danger" style="font-size: 25px; font-weight: 600;"> @TempData["Error"]</p></div>
        <div class="row">
            @foreach (var item in Model.Items)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                    <div class="product_list">
                        <div class="product_img"> <img class="img-responsive" src="~/image/@item.Image" alt=""> </div>
                        <div class="product_detail_btm">
                            <div class="center">
                                <h4><a href="#">@item.ProductName</a></h4>
                            </div>
                            @if (SignInManager.IsSignedIn(User))
                            {


                                <form asp-action="AddToCart" asp-controller="Cart" aria-hidden="true">
                                    <div style="text-align: center">
                                        @*<span class="input-number-decrement">–</span>
                                            <input class="input-number" type="text" value="1" min="1" max="10">
                                            <span class="input-number-increment">+</span>*@
                                        <input type="number" min="1" value="1" name="quantity" />
                                    </div>
                                    <input type="hidden" name="Id" value="@item.Id" />
                                    <input type="hidden" name="returnUrl" value="@Url.Action("AllItems","CustomerIndex", new { pageIndex = Model.pageSize})" />
                                    <div class="starratin" style="margin-top: 10px">
                                        <div class="center">
                                            <input type="submit" value="AddToCart" class="btn btn-success" />
                                        </div>
                                    </div>
                                </form>

                            }
                            <div class="product_price">
                                <p><span class="old_price">$@item.Price</span> – <span class="new_price">$@item.DiscountPrice</span></p>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
        <nav aria-label="...">
            <ul class="pagination pagination-sm" style="justify-content: center">
                @for (var index = 1; index <= Model.TotalRecords; index++)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="CustomerIndex" asp-action="AllItems" asp-route-pageIndex="@index">@index</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

