@using Microsoft.AspNetCore.Identity
@model List<DeviceManager.Models.Item.CusItemVM>
@inject SignInManager<DeviceManager.Data.Entities.User> SignInManager
@inject UserManager<DeviceManager.Data.Entities.User> UserManager
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>It.Next - IT Service Responsive Html Theme</title>
    <!-- site icons -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Customer/animate.css" />
    <link rel="stylesheet" href="~/css/Customer/colors1.css" />
    <link rel="stylesheet" href="~/css/Customer/custom.css" />
    <link rel="stylesheet" href="~/css/Customer/responsive.css" />
    <link rel="stylesheet" href="~/css/Customer/style.css" />
    <link rel="stylesheet" href="~/css/Customer/welcome.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
</head>
<body id="default_theme" class="it_service">

    <header id="default_header" class="header_style_1">
        <div class="header_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <!-- menu start -->
                        <div class="menu_side">
                            <div id="navbar_menu">
                                <ul class="first-ul">
                                    <li>
                                        <a class="active" asp-controller="CustomerIndex" asp-action="Index">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#">Service</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a a asp-controller="CustomerIndex" asp-action="AllItems" asp-route-pageIndex="1">Shop</a>
                                        <ul>
                                            <li><a asp-controller="CustomerIndex" asp-action="AllItems" asp-route-pageIndex="1">Shop List</a></li>
                                            <li><a asp-controller="Cart" asp-action="Index">Shopping Cart</a></li>
                                            <li><a href="#">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <li>
                                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "CustomerIndex", new { area = "" })">
                                                <button class="button-logout" type="submit">Logout</button>
                                            </form>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                                        </li>
                                        <li>
                                            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header bottom end -->
    </header>
    <div style="width: 100%; height: 250px;">
        <ul class="fly-in-text hidden">
            <li>W</li>
            <li>E</li>
            <li>L</li>
            <li>C</li>
            <li>O</li>
            <li>M</li>
            <li>E</li>
        </ul>
    </div>
    <div class="p-b-10 username">
    <a href="#">@User.Identity.Name</a>
    </div>
    <div class="section padding_layout_1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_center">
                            <h2>Why Choose Us</h2>
                            <p class="large">Fastest repair service with best price!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="full text_align_center margin_bottom_30">
                        <div class="center">
                            <div class="icon"> <img src="~/image/i1.png" alt="#" /> </div>
                        </div>
                        <h4 class="theme_color">Data recovery</h4>
                        <p>Perspiciatis eos quos totam cum minima aut!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="full text_align_center margin_bottom_30">
                        <div class="center">
                            <div class="icon"> <img src="~/image/i2.png" alt="#" /> </div>
                        </div>
                        <h4 class="theme_color">Computer repair</h4>
                        <p>Perspiciatis eos quos totam cum minima aut!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="full text_align_center margin_bottom_30">
                        <div class="center">
                            <div class="icon"> <img src="~/image/i3.png" alt="#" /> </div>
                        </div>
                        <h4 class="theme_color">Mobile service</h4>
                        <p>Perspiciatis eos quos totam cum minima aut!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="full text_align_center margin_bottom_30 margin_0">
                        <div class="center">
                            <div class="icon"> <img src="~/image/i4.png" alt="#" /> </div>
                        </div>
                        <h4 class="theme_color">Network solutions</h4>
                        <p>Perspiciatis eos quos totam cum minima aut!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section padding_layout_1 light_silver gross_layout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_left">
                            <h2>Service Process</h2>
                            <p class="large">Easy and effective way to get your device repaired.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="full">
                                <div class="service_blog_inner">
                                    <div class="icon text_align_left"><img src="~/image/si1.png" alt="#" /></div>
                                    <h4 class="service-heading">Fast service</h4>
                                    <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="full">
                                <div class="service_blog_inner">
                                    <div class="icon text_align_left"><img src="~/image/si2.png" alt="#" /></div>
                                    <h4 class="service-heading">Secure payments</h4>
                                    <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="full">
                                <div class="service_blog_inner">
                                    <div class="icon text_align_left"><img src="~/image/si3.png" alt="#" /></div>
                                    <h4 class="service-heading">Expert team</h4>
                                    <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="full">
                                <div class="service_blog_inner">
                                    <div class="icon text_align_left"><img src="~/image/si4.png" alt="#" /></div>
                                    <h4 class="service-heading">Affordable services</h4>
                                    <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="full">
                                <div class="service_blog_inner">
                                    <div class="icon text_align_left"><img src="~/image/si5.png" alt="#" /></div>
                                    <h4 class="service-heading">90 Days warranty</h4>
                                    <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="full">
                                <div class="service_blog_inner">
                                    <div class="icon text_align_left"><img src="~/image/si6.png" alt="#" /></div>
                                    <h4 class="service-heading">Award winning</h4>
                                    <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section padding_layout_1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_center">
                            <h2>Our Products</h2>
                            <p class="large">We package the products with best services to make you a happy customer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/image/@item.Image" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="#">@item.ProductName</a></h4>
                                </div>
                                @if (SignInManager.IsSignedIn(User))
                                {

                                    <div class="starratin">
                                        <div class="center">
                                            <form asp-action="AddToCart" asp-controller="Cart" aria-hidden="true">
                                                <input type="hidden" name="Id" value="@item.Id" />
                                                <input type="hidden" name="returnUrl" value="@Url.Action("AllItems","CustomerIndex")" />
                                                <input type="submit" value="AddToCart" class="btn btn-success" />
                                            </form>
                                        </div>
                                    </div>
                                }
                                <div class="product_price">
                                    <p><span class="old_price">$@item.Price</span> – <span class="new_price">$@item.DiscountPrice</span></p>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
            <div class="shopping-cart">
                <a class="button" asp-action="AllItems" asp-controller="CustomerIndex" asp-route-pageIndex="1">SEE MORE</a>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section padding_layout_1 light_silver gross_layout right_gross_layout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_right">
                            <h2>Our Feedback</h2>
                            <p class="large">Easy and effective way to get your device repaired.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row counter">
                <div class="col-md-4"> </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
                            <div class="text_align_right"><i class="fa fa-smile-o"></i></div>
                            <div class="text_align_right">
                                <p class="counter-heading text_align_right">Happy Customers</p>
                            </div>
                            <h5 class="counter-count">2150</h5>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
                            <div class="text_align_right"><i class="fa fa-laptop"></i></div>
                            <div class="text_align_right">
                                <p class="counter-heading text_align_right">Laptop Repaired</p>
                            </div>
                            <h5 class="counter-count">1280</h5>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
                            <div class="text_align_right"><i class="fa fa-desktop"></i></div>
                            <div class="text_align_right">
                                <p class="counter-heading">Computer Repaired</p>
                            </div>
                            <h5 class="counter-count">848</h5>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
                            <div class="text_align_right"><i class="fa fa-windows"></i></div>
                            <div class="text_align_right">
                                <p class="counter-heading">OS Installed</p>
                            </div>
                            <h5 class="counter-count">450</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section padding_layout_1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_left">
                            <h2>Latest from Our Blog</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="full blog_colum">
                        <div class="blog_feature_img"> <img src="~/image/post-03.jpg" alt="#" /> </div>
                        <div class="post_time">
                            <p><i class="fa fa-clock-o"></i> April 16, 2018 ( In Maintenance )</p>
                        </div>
                        <div class="blog_feature_head">
                            <h4>Why Your Computer Hates You</h4>
                        </div>
                        <div class="blog_feature_cont">
                            <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="full blog_colum">
                        <div class="blog_feature_img"> <img src="~/image/post-04.jpg" alt="#" /> </div>
                        <div class="post_time">
                            <p><i class="fa fa-clock-o"></i> April 16, 2018 ( In Maintenance )</p>
                        </div>
                        <div class="blog_feature_head">
                            <h4>Easy Tips To Computer Repair</h4>
                        </div>
                        <div class="blog_feature_cont">
                            <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="full blog_colum">
                        <div class="blog_feature_img"> <img src="~/image/post-06.jpg" alt="#" /> </div>
                        <div class="post_time">
                            <p><i class="fa fa-clock-o"></i> April 16, 2018 ( In Maintenance )</p>
                        </div>
                        <div class="blog_feature_head">
                            <h4>Computer Maintenance 2018</h4>
                        </div>
                        <div class="blog_feature_cont">
                            <p>Lorem ipsum dolor sit amet, consectetur quam justo, pretium adipiscing elit. Vestibulum quam justo, pretium eu tempus ut, ...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/welcome.js"></script>
</body>
</html>

